{% load custom_tags %}

<li class="nav-item">
    <a id="id_planning" class="nav-link active tab-icon planning-icon" data-toggle="tab" href="#planning">
        Planning
    </a>
</li>
<li class="nav-item">
    <a id="id_people" class="nav-link poc-icon" data-toggle="tab" href="#people">
        People
    </a>
</li>
<li class="nav-item">
    <a id="id_scopes" class="nav-link tab-icon bullseye-icon" data-toggle="tab" href="#scopes">
        Scope
    </a>
</li>
<li class="nav-item">
    <a id="id_targets" class="nav-link tab-icon objective-icon" data-toggle="tab" href="#targets">
        Targets*
    </a>
</li> -->
<li class="nav-item">
    <a id="id_documents" class="nav-link tab-icon folder-icon" data-toggle="tab" href="#documents">
        Reports
    </a>
</li>
{% if project_extra_fields_spec %}
    <li class="nav-item">
        <a id="id_extra_fields" class="nav-link tab-icon custom-field-icon" data-toggle="tab" href="#extra_fields">
            Pre-requisites
        </a>
    </li>
{% endif %}
<li class="nav-item">
    <a id="id_notes" class="nav-link tab-icon comment-icon" data-toggle="tab" href="#notes">
        Notes <span class="badge badge-pill badge-light">{{ project.projectnote_set.all.count }}</span>
    </a>
</li>
